.git
.turbo
node_modules
**/node_modules
**/.next
**/dist
**/coverage
**/*.log
**/.DS_Store
**/.env
**/.env.*
apps/**/.env.local
apps/**/.env.development.local
apps/**/.env.production.local
apps/**/.env.test.local
packages/**/.env.local
packages/**/.env.development.local
packages/**/.env.production.local
packages/**/.env.test.local