JWT_SECRET=YOUR_JWT_SECRET
DATABASE_URL=YOUR_DB_URL
DIRECT_URL=YOUR_DB_URL
BACKEND_URL=YOUR_BACKEND_URL
SERVER_HTTP_URL=YOUR_SERVER_HTTP_URL
SERVER_WS_URL=YOUR_SERVER_WS_URL
NEXT_PUBLIC_BACKEND_URL=YOUR_NEXT_PUBLIC_BACKEND_URL
NEXT_PUBLIC_WS_URL=YOUR_NEXT_PUBLIC_WS_URL
WS_URL=YOUR_WS_URL

